    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="icon" href="/multimedia/Recurso 4.ico">
    <link rel="stylesheet" href="" />
    <body>
<header>
        <h1>Comunidad mas grande de los amantes de las mascotas</h1>
    </header>
    <form action="/login" method="POST" id="ingresar">
    <h2>Iniciar Sesion</h2>
        <div id="datos">
            <input type="text" id="Nombre" name="username" placeholder="Usuario:" class="controlador">
        </div>
        <div id="contrase単as">
            <input type="password" id="Contrase単a" name="password" placeholder="Contrase単a:" class="controlador">
        </div>
        <div>
            <button type="submit" id="boton" class="boton">Ingresar</button>
          </div>
                <h8>多aun no tienes una cuenta registrate? <a href="http://localhost:4000/registro">registrarse</a></h8>

    </form>
   
</body>
</html>