<link rel="stylesheet" href="/css/registro.css" />
<div id="body"></div>
<div id="grad"></div>
<div id="header">
	<div>Pet Pocket <br><span><a href="http://localhost:4000/registro">Registrate</a></span></div>
</div>
<br> 
<form action="/login" method="POST">

	<div id="login">
            <input type="text" id="Nombre" name="username" placeholder="Usuario:" >
            <input type="password" id="Contraseña" name="password" placeholder="Contraseña:" >
		<input type="submit" value="Logearte">
	</div>
</form>