    <link rel="icon" href="./multimedia/Recurso 4.ico">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="password.css">
<body>
    <form class="formulario">
    
        <h1>Recuperar Contraseña</h1>
         <div class="contenedor">
         
         
             
             <div class="input-contenedor">
             <i class="fas fa-envelope icon"></i>
             <input type="text" placeholder="Correo Electronico" required>
             
             </div>
             
             <button class="button"><a href="/#">Recuperar</a></button>
             <p>¿No tienes una cuenta? <a class="link" href="/html/register.html">Registrate </a></p>

         </div>
        </form>
</body>
</html>