<link rel="stylesheet" href="/css/registro.css" />
<div class="body"></div>
<div class="grad"></div>
<div class="header">
	<div>Pet<span>Pocket</span></div>
</div>
<br> 
<form action="/registro" method="POST">

	<div class="login">
		<input type="text" placeholder="nombre" name="nombre"><br>
		<input type="text" placeholder="apellido" name="apellido"><br>
		<input type="text" placeholder="username" name="username"><br>
		<input type="text" placeholder="foto" name="foto"><br>
		<input type="text" placeholder="email" name="email"><br>
		<input type="password" placeholder="password" name="password"><br>
		<input type="submit" value="Registrar">
	</div>
</form>