<link rel="stylesheet" href="/css/registro.css" />
<div id="body"></div>
<div id="grad"></div>
<div id="header">
	<div>Pet Pocket <br><span><a href="http://localhost:4000/login">Logeate</a></span></div>
</div>
<br> 
<form action="/registro" method="POST">

	<div id="login">
		<input type="text" placeholder="nombre" name="nombre"required><br>
		<input type="text" placeholder="apellido" name="apellido" required><br>
		<input type="text" placeholder="username" name="username"required><br>
		<input type="text" placeholder="email" name="email"required><br>
		<input type="password" placeholder="password" name="password"required><br>
		<input type="submit" value="Registrar">
	</div>
</form>