<link rel="stylesheet" href="">

<form action="/Registro" method="POST" enctype="multipart/form-data">
  <div id="container">
    <div id="title">
      <p>Registro
        {{#each maximo}}
        <input type="text" name="idUsuarios" id="number" value="{{max}}" readonly>
        {{/each}}
      </p>
    </div>
    <div id="username">
      <label>Nombre de usuario:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div id="password">
      <label>Contraseña:</label>
      <input type="password" id="password" name="password" required>
    </div>
  
    <div id="imagenUsuario">
      <label>Foto:</label>
      <div id="changeImage">
        <img src="/img/NoImage.jpg" id="imagePreview">
      </div>
      <input type="file" name="imagenUsuario" id="filePicker" accept="image/*" required>
    </div>
    <div id="submit">
      <div id="button">
        <button type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
<script src="/js/number.js"></script>
<script src="/js/preview.js"></script>