<link rel="stylesheet" href="/css/tienda/agregar.css">
<link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
<link rel="stylesheet" href="/css/navegador.css" />
<title>PERDIDOS</title>

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">
                
                <li><a href="#">Red social</a></li>
                <li><a href="#">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/campañas">Campañas</a></li>
                <li><a href="#">Reporte</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Donaciones</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->

<div id="intro">
    <h1>  Tienda de Mascotas </h1>
</div>

<div>
    <form action="/tienda/agregar/{{user.idUsuarios}}" method="post" id="contenedor">
    <div id="titulo">
        <p> Agrega tus productos favoritos </p>
    </div>

    <div id="tituloTienda">
        <label>Nombre Producto:</label>
        <input type="text" id="nombre" name="tituloTienda" required>
    </div>

    <div id="fotoTienda">
        <label> Tu Producto </label>
        <input type="text" id="foto" name="fotoTienda" required>
    </div>
    <div id="categoriaTienda">
        <label> Categoria Producto:</label>
        {{!-- <input type="text" name="FechaPerdido" required>  --}}
               <select name="Categoria">
                    <option>Juguete</option>
                    <option>Comida</option>
                    <option>Ropa</option>
                </select>
    </div>
    <div id="descripccionTienda">
        <label>Descripcion:</label>
        <input type="text"  name="descripccionTienda" required>
    </div>

    <div id="boton">
        <button type="submit">SUBIR</button>
    </div>

    </form>
</div>

</body>