<link rel="stylesheet" href="/css/tienda.css">

<div id="contenedor">
    <div class="row">
        <div id="tarjeta">
            <div id="titulo">
                <h1> Producto </h1>
            </div>
            <div id="descripción">
                <h1> descripción </h1>
            </div>
            <div id="categoria">
                <h1> Tipo </h1>
            </div>
            <div id="foto">
                <h1> Foto: </h1>
            </div>

            <div id="botonEditarTienda">
                <a href="#">
                    <button type="button"> Editar </button>
                </a>
            </div>

            <div id="botonEliminarTienda">
                <a href="#">
                    <button type="submit"> Eliminar </button>
                </a>
            </div>
        </div>

        <div id="mensaje">
            <p><b> Usted no a agreagado ningun producto</b></p>
            <a href="#">
                <button type="button"> ¿Desea agregar? </button>
            </a>
        </div>

        <div id="plus">
            <a href="#">
                <button type="button"><img src=""></button>
            </a>
        </div>
    </div>
</div>