<LINK REL=StyleSheet HREF="/css/login/ingreso.css" TYPE="text/css" MEDIA=screen>
<form action="/login" method="POST" id="ingresar">
<div id="imagen">
  <img src="/img/fondo.png" >
</div>
  <div id="contenedor">
    <div id="login">
      Login
    </div>
    <div id="datos">
      <input type="text" id="Nombre" name="username" placeholder="Usuario:">
    </div>
    <div id="contraseñas">
      <input type="password" id="Contraseña" name="password" placeholder="Contraseña:">
    </div>
    <div>
      <button type="submit" id="boton">Ingresar</button>
    </div>
    <div id="sesion">
     <a href="/Registro"><button type="button">Registro</button></a>
    </div>
  </div>
</form>