<link rel="stylesheet" href="/css/registro.css" />
<div id="body"></div>
<div id="grad"></div>
<div id="header">
	<div>Pet Pocket <br>
	<center>
	<span><a href="http://localhost:4000/login">Login</a></span></div>
	</center>
</div>
<br> 
<form action="/registro" method="POST">

	<div id="login">
		<input type="text" placeholder="Primer nombre" name="nombre"required>
		<input type="text" placeholder="Primer apellido" name="apellido" required>
				<input type="text" placeholder="Cedula" name="cedula" required>
		<input type="text" placeholder="telefono" name="telefono" required>
		<input type="text" placeholder="direccion" name="direccion" required>
		<input type="text" placeholder="ciudad" name="ciudad" required>
		<input type="text" placeholder="username" name="username"required>
		<input type="text" placeholder="email" name="email"required>
		<input type="text" placeholder="contraseña" name="password"required>
		<input type="submit" value="Registrar">
	</div>
</form>