<LINK REL=StyleSheet HREF="/css/login/registro.css" TYPE="text/css" MEDIA=screen>
<form action="/registro" method="POST">
  <div id="imagen">
    <img src="/img/fondo.png">
  </div>
  <div id="contenedor">
    <div id="nombres">
      <p id="usuario">Registra tu Usuario y Contrase単a</p>
    </div>
    <div id="datos">
      <input type="text" id="Nombre" name="username" placeholder="Usuario:">
    </div>
    <div id="contrase単as">
      <input type="password" id="Contrase単a" name="password" placeholder="Contrase単a:">
    </div>
    <div id="boton">
      <button type="submit">Guardar</button>
    </div>
  </div>
</form>