   <link rel="icon" href="./multimedia/Recurso 4.ico">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css" />

<body>
    <header>
        <a href="" class="logo">
            <img src="/multimedia/logo.png" alt="logoPP">
            <p class="nombreEmpresa">Pet Pocket</p>
        </a>
        <nav>
            
            <a href="#mision" class="nav-link">misión</a>
            <a href="#vision" class="nav-link">Vision</a>
        </nav>
    </header>
    <main>
        <figure>
            <img src="/multimedia/perretes y gatetes.png" alt="">
        </figure>
        <div class="registroLogin">
            <h2>SALVAR UNA VIDA ES SALVAR EL MUNDO</h2>
            <a href="http://localhost:4000/login" class="botonInicio">Iniciar sesión</a>
            <a href="http://localhost:4000/registro" class="botonRegistro">Registrate</a>
        </div>
        
    </main>
    <div class="vision" id="vision">
        <h2>Cual es nuestra vision</h2>
   
    </div>
    <footer>
        <h2>Siguenos en nuestras redes</h2>
    </footer>
</body>
