    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
    <link rel="stylesheet" href="/css/navegador.css" />
    <link rel="icon" href="/multimedia/Recurso 4.ico">

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

                 <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                
                <!--Aqui se acaba-->
            </ul>
        </nav>
    </header>
   
    <br></br>
     <b><h1 id="titulo" align="center">Bienvenido a Pet Pocket</h1></b>
    <u><b><h2 id="subtitulo1" align="center">Un lugar donde amamos a los animales.</h2></b></u>
    <u><b><h2 id="subtitulo1" align="center">Lo maravillosos de adoptar a una Mascota.</h2></b></u>
    <br></br>

    <div id="container">
        <main id="content">
            <article id="article">
                <h1> Para que sirve pet pocket</h1>
                <p>Sirve para ayudar a los animales brindando apoyo a rescatistas independientes en su intención de cuidar a los
                    animales sin hogar.
                    Dando oportunidaes a los animalitos a tener un hogar seguro que les brinden seguridad, cuidados y
                    amor.</p>
            </article>
            <article id="article">
                <h1> Como se usa</h1>
                <p>En la parte superior derecha podra registrar una o varias mascotas, despues tendra varias opciones
                    como publicar su mascota para llamar atencion , publicar a una mascota en adopcion o publicar que
                    su mascota se perdio para que le ayuden a encontrarla.
                </p>
            </article>

        </main>
        <aside id="sidebar">
            <b><u><p id="date">Galeria de mascotas en adopcion</p></u></b>
            <table id="default" id="galeria">
                <tr>
                    <th colspan="2"><div>
                        <img src="/multimedia/gatita adopcion.jpg" alt="" width="105 px">
                    </div></th>
                    <th colspan="2"><div>
                        <img src="/multimedia/cachorros en adopcion.jpg" alt="" width="100 px"> 
                     </div></th>
                </tr>
                <tr>
                    <th colspan="2"><div>
                        <img src="/multimedia/cachorros en adopcion 1.jpg" alt="" width="100 px"> 
                     </div></th>
                    <th colspan="2"><div>
                        <img src="/multimedia/cachorros en adopcion 2.jpg" alt="" width="100 px">
                     </div></th>
                </tr>
            </table>        
        </aside>
            <div id="related-post">            
            <video controls width="150px">
                <source src="/multimedia/EL VALOR DE LA SENSIBILIZACIÓN POR LOS ANIMALES!!.mp4">
            </video>
            </div>
            <div id="related-post">
                <video controls width="150px">
                    <source src="/multimedia/Tengo una mascota  ¿Cómo cuidar a nuestras mascotas.mp4">
                </video>
            </div>
            <div id="related-post">
                <video controls width="200px">
                    <source src="/multimedia/Adopta o rescata una mascota.mp4">
                </video>
            </div>
            
    </div>

                <footer id="pie">
                    <h4>Siguenos en nuestras redes </h4>
                        <a href="http://twitter.com/AQUI_TU_USUARIO" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32 alt="Síguenos en Twitter"/></a>
                        <a rel="author" href="https://plus.google.com/TU_ID_GOOGLE?rel=author" target="_blank"><img alt="Siguenos en Google+" src="https://lh5.googleusercontent.com/-F_FBKktZWZk/T3nN0v4FeAI/AAAAAAAAAsc/7dHTxkxn4cI/s32/google32.png" width=32 height=32 /></a>
                         <a href="http://www.facebook.com/AQUI_TU_PAGINA" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32 /></a>
                    <aside id="barra">
                        <input id="input" type="text" placeholder="petPocket@yavirac.ec">
                        <button>Subscribirse</button>
                    </aside>
                </footer>     
    </b>
</body>