<title>Barra lateral</title>
</head>
<link rel="stylesheet" href="/css/main.css">

<body>
    <div id="body"></div>

    <div id="sidebar">

        <ul>
            <li>
                <img src="/multimedia/logocolor.png" alt="Logo Fazt" class="logo">
            </li>
            <a href="http://localhost:4000/roles/lista/1">
                <li>Asignar rol</li>
            </a>
            <a href="http://localhost:4000/promociones/lista/1">
                <li>Promocion tienda</li>
            </a>
            <a href="http://localhost:4000/producto/lista/1">
                <li>Agregar producto</li>
            </a> <a href="http://localhost:4000/comunicados/lista/1">
                <li>Comunicado</li>
            </a>
            <a href="http://localhost:4000/veterinaria/lista/1">
                <li>Agregar veterinarias</li>
            </a>
        </ul>
    </div>

    <br>
    {{#each lista}}
<form action="/comunicados/editar/{{idComunicados}}" method="post">
    <div id="contenido">
        <h2>Actualizar administrador</h2>
            <center>
        <div id="titulo">
            <h5>titulo</h5>
            <input type="text" name="titulo" value="{{titulo}}" >
        </div>
        <div id="descripcion">
            <h5>descripcion</h5>
            <textarea type="text" name="descripcion"  > {{descripcion}}</textarea>

        </div>
      
<br>
            <input type="submit" value="actualizar" id="boton1"></input>
        <br>
          <a href="http://localhost:4000/roles/lista/3">  <input type="submit" id="boton2" value="cancelar"></input></a>
    </div>
</form>
        </center>

{{/each}}