
    <link rel="icon" href="./multimedia/Recurso 4.ico">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css" />

<body>
    <header>
        <a href="" class="logo">
            <img src="/multimedia/logo.png" alt="logoPP">
            <p class="nombreEmpresa">Pet Pocket</p>
        </a>
        <nav>
            
            <a href="#mision" class="nav-link">misión</a>
            <a href="#vision" class="nav-link">Vision</a>
        </nav>
    </header>
    <main>
        <figure>
            <img src="/multimedia/perretes y gatetes.png" alt="">
        </figure>
        <div class="registroLogin">
            <h2>SALVAR UNA VIDA ES SALVAR EL MUNDO</h2>
            <a href="http://localhost:4000/login" class="botonInicio">Iniciar sesión</a>
            <a href="http://localhost:4000/registro" class="botonRegistro">Registrate</a>
        </div>
        
    </main>
    <div class="sobre_nosotros">
        <h2>¿Quienes somos?</h2>
        <p>
            somos una comunidad que se preocupa por el vienestar de nustros amigos peludos ya que mucha gente piensa que 
            adoptar una mascota es solo quererla cuando son adorables pero se olvidan de ella al pocoa tiempo y la abandonan
            pet pocket se creo para evitar esta situacion y ayudar a concientizar sobre los que es cuidar una vida queremos
            que la gente entienda el amor incondicional que da una mascota y queremos ayudar a los que ya entienden ese cariño
        </p>
    </div>
    <div class="mision" id="mision">
        <h2>Cual es nuestra misión</h2>
        <p>Ayudar a los animales brindando apoyo a rescatistas independientes en su intención de cuidar a los animales sin hogar. Dando oportunidaes a los animalitos a tener un hogar seguro que les brinden seguridad, cuidados y amor</p>
    </div>
    <div class="vision" id="vision">
        <h2>Cual es nuestra vision</h2>
        <p>
            Promovemos el respeto a todo ser viviente y su derecho a tener una vida digna. Trabajaremos en equipo para proteger la vida de nuestros animales abandonados. Compasión y amor serán nuestros principales valores al momento de ayudar a un animal desamparado.
        </p>
    </div>
    <footer>
        <h2>Siguenos en nuestras redes</h2>
    </footer>
</body>
