<link rel="stylesheet" href="/css/denuncialo/agregar.css">
<link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
<link rel="stylesheet" href="/css/navegador.css" />
<title>PERDIDOS</title>

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">
                
                  <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="http://localhost:4000/adopcion">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                </li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->

<div id="intro">
    <h1>  Denuncias </h1>
</div>

<div>
    <form action="/denuncialo/agregar/{{user.idUsuarios}}" method="post" id="contenedor">
    <div id="titulo">
        <p> Denuncia a los maltratadores </p>
    </div>

    <div id="tituloDenuncialo">
        <label>Tipos de maltrato:</label>
        <input type="text" name="tituloDenuncialo" required>
    </div>
    <div id="descripccionDenuncialo">
        <label>Descripcion:</label>
        <input type="text"  name="descripccionDenuncialo" required>
    </div>
<div id="categoriaDenuncialo">
        <label> Tipo de mascota:</label>
        {{!-- <input type="text" name="FechaPerdido" required>  --}}
               <select name="categoriaDenuncialo">
                    <option>Perro</option>
                    <option>Gato</option>
                </select>
    </div>
    <div id="boton">
        <button type="submit">SUBIR</button>
    </div>

    </form>
</div>

</body>