*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Sirve para separar el texto de los bordes*/
}

.container{
    width: 349px;
    background-color: #ffcb42;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: solid 3px #277bc0;
    margin: 0 auto;
    text-align: center;
}

#titulo{
    text-decoration:double;
    text-align: center;
}


 input{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 3px;
    width: 220px;
    color: #fff;
    margin-top: 1px;
    border-radius: 20px;
 }
 button{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 2px;
    width: 130px;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
 }
 label{
    color: #fff;
    font-family: cursive;
    display: block;
    margin: 10px;
 }