*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Sirve para separar el texto de los bordes*/
}
#contenedor{
    background-color: #ffcb42;
    width: 260px;
    height:max-content;
    margin-left: 500px;
    border: solid 3px #277bc0;
    padding: 20px;
    margin-top: 60px;  
    text-align: center;
}

 button{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 2px;
    width: 130px;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
 }
 
 p{
    font-size: 20px;
    text-align: center;
 }