*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
   
  body{
    background: #ece9e9;
    background-image:linear-gradient(
        50deg,
        rgba(253, 253, 253, 0.5),
        rgba(255, 255, 255, 0.5) 
      ),
    url(https://static.vecteezy.com/system/resources/previews/001/811/305/non_2x/pattern-of-white-dogs-background-vector.jpg)
   
  }
   
  .container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
   
  .login-container{
    display: flex;
    width: 650px;
    height: auto;
    background: rgb(253, 250, 250);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    background-image:linear-gradient(
        50deg,
        rgba(253, 253, 253, 0.5),
        rgba(255, 255, 255, 0.5) 
      ),
  url(https://i.pinimg.com/550x/66/e1/02/66e102ad279ee69ca7f5a110855cc34e.jpg);
  }
   
  .register, .login{
    flex: 1;
  }
   
  .register{
    padding: 40px;
    position: relative;
  }
   
  .register h2{
    color: #797979;
    margin-bottom: 30px;
    text-align: center;
    background-color: #e5dbc7;
    border-radius: 20px;
    padding: 10px;
  }
   
  .register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }
   
  .register input:active,
  .register input:focus{
    outline: none;
  }
   
  .register .submit{
    width: auto;
    padding: 10px;
    background: #f17108;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
  }
   
  .register::after{
    content: '>';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: -23px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
    color: #adacac;
    
  }
   
  .login{
    background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
    padding: 40px;
    background: rgb(253, 250, 250);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    background-image:linear-gradient(
        50deg,
        rgba(253, 253, 253, 0.6),
        rgba(255, 255, 255, 0.6) 
      ),
  url(https://i.pinimg.com/564x/c1/94/2a/c1942acd2896ee1e374ce4ca0d32ae75.jpg);
  
  }
   
  .login h2{
    background-color: #fafafa;
    color: rgb(95, 93, 93);
    margin-bottom: 45px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }
   
  .login button i{
    position: absolute;
    top: 12px; 
    left: 12px;
  }
   
  .login button{
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
  }
   
  .login .fb{
    background: #3b5999;
    border-style: none;
    color: #fff;
    margin-top: -20px;
  }
   
  .login .tw{
    background: #55acef;
    border-style: none;
    color: #fff;
  }
   
  .login .correo{
    background: #33d4ce;
    border-style: none;
    color: #fff;
  }
   
  @media only screen and (max-width: 540px){
    .login-container{
      display: block;
    }
   
    .register, .login{
      flex: none;
    }
   
    .register::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }
  