#titulo{
    font-size: 30px;
    font-family: cursive;
    margin-top: 140px;
    margin-left: 500px;
 }
 #contenedor{
    background-color: #ffcb42;
    width: 400px;
    height: 420px;
    text-align: center;
    padding: 25px;
    border: solid 3px #277bc0;
    margin-top: 60px;
    margin-left: 400px;
 }
 #stitulo{
    font-size: 20px;
    font-family: cursive;
 }

 input{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 3px;
    width: 220px;
    color: #fff;
    margin-top: 1px;
    border-radius: 20px;
 }
 select{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 5px;
    width: 220px;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
 }
 button{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 2px;
    width: 130px;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
 }
 label{
    color: #fff;
    font-family: cursive;
    display: block;
    margin: 10px;
 }