<link rel="stylesheet" href="/css/navegador.css" />
<link rel="stylesheet" href="/css/veterinaria/agregar.css" />
<link rel="icon" href="/multimedia/Recurso 4.ico">

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

                  <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="#">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>

                <!--Aqui se acaba-->
            </ul>
        </nav>
    </header>

    <br></br>
    <b>
        <h1 id="titulo" align="center">Veterinarias</h1>
    </b>
    <u><b>
            <h2 id="subtitulo1" align="center">Un lugar donde amamos a los animales.</h2>
        </b></u>


    <!--inicio del crud-->
    <form action="/veterinaria/agregar/{{user.idUsuarios}}" method="post">

        <div id="container">

            <div id="nombre">
                <label>Nombre de la Veterinaria:</label>
                <input type="text" name="nombre" required>
            </div>
            <div id="sector">
                <label>Sector:</label>
                <input type="text" name="sector" required>
            </div>
            <div id="calle">
                <label>Calle:</label>
                <input type="text" name="calle" required>
            </div>
            <div id="telefono">
                <label>Telefono:</label>
                <input type="text" name="telefono" required>
            </div>
            <div id="especialidad">
                <label>Especialidad:</label>
                <input type="text" name="especialidad" required>
            </div>
            <div id="boton">
                <button type="submit" href="../veterinaria/lista.hbs"> Guardar</button>
            </div>
        </div>
    </form>
    <!--fin del crud-->


</body>

</html>