<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/UsuarioPetPocket/Src/public/veterinaria.css">
    <title>Veterinaria</title>
</head>
<body>
     
    <form class="formulario">
    
        <h1 id="titulo">Veterinaria</h1>
         <div class="contenedor">
             <div id="input-contenedor">
             <i class="fas fa-envelope icon"></i>
             <p>Nombre de la Veterinaria</p>
             <input id="nombre"type="text" placeholder="Nombre de la Veterinaria" required>
             <p>Sector</p>
             <input id="sector"type="text" placeholder="Sector" required>
             <p>Calles</p>
             <input id="calles"type="text" placeholder="Calles" required>
             <p>Telefono</p>
             <input id="telefono"type="text" placeholder="Telefono" required>
             <p>Especialidad</p>
             <input id="especialidad"type="text" placeholder="Especialidad" required>
             </div>

             <button class="button" ><a href="/#" >Agregar</a></button>


         </div>
        </form>

</body>
</html>