<link rel="stylesheet" href="/css/preguntas/preguntas.css">

<nav>
    <div>logo</div>
    <div>
        <p>Red Social</p>
        <p>Perdidos</p>
        <p>Adopcion</p>
        <p>Campanas</p>
        <p>Reporte</p>
        <p>Ayuda</p>
        <p>Donaciones</p>
        <p>Tienda</p>
    </div>
    <div>
        logo 2
    </div>
    <h1>Ayuda Pet Pocket</h1>
    <form action="">
        <h2>Cual es tu duda?</h2>
        <input type="text" placeholder="Escribe aqui tu pregunta">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button>Preguntar</button>
    </form>
    <div>
        <h2>Preguntas Recientes</h2>
        <div>
            contenedor preguntas recientes 
        </div>
    </div>
    
</nav>