<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navegador.css" />
    <link rel="stylesheet" href="/css/bells/editarbell.css" />
    <link rel="icon" href="/multimedia/Recurso 4.ico">

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

                
              <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="#">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                
                <!--Aqui se acaba-->
            </ul>
        </nav>
    </header>
     <b><h1 id="titulo" align="center">Campañas</h1></b>
    <u><b><h2 id="subtitulo1" align="center">Un lugar donde amamos a los animales.</h2></b></u>
    
    <!--inicio del crud-->
    {{#each lista}}
    <form action="/bells/editar/{{idbell}}" method="post">
    
    <div id="container">
        <div id="titulo">
            <p>Agregar Campaña</p>
        </div>
        <div id="Titulo">
            <label>Titulo de la Campaña:</label>
            <input type="text" name="titulo" value="{{titulo}}" required>
        </div>
        <div id="Descripcion">
            <label>Descripcion de la Campaña:</label>
            <input type="text" name="descripcion" value="{{descripcion}}" required>
        </div>
        <div id="Imagenbells">
            <label>Imagen de la Campaña:</label>
            <input type="text" name="imagenbells" value="{{imagenbells}}" required>
        </div>
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </div>
    </form>
    {{/each}}
    
    <!--fin del crud-->
                <br></br>
              
    </b>
</body>

</html>