<LINK REL=StyleSheet HREF="/css/perdidos/agregar.css" TYPE="text/css" MEDIA=screen>
<link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
<link rel="stylesheet" href="/css/navegador.css" />
<title>PERDIDOS</title>

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

                <li><a href="#">Red social</a></li>
                <li><a href="#">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/campañas">Campañas</a></li>
                <li><a href="#">Reporte</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Donaciones</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->
    <div id="titulo">
        <p>Mascotas perdidas</p>
    </div>
    <div>
        <form action="/perdido/agregar/{{user.idUsuarios}}" method="post" id="contenedor">

            <div id="stitulo">
                <p> <strong>AYUDANOS A <BR> ENCONTRARLO</strong></p>
            </div>

            <div id="ImagenPerdido">
                <label id="subtitulo">Imagen Perdido:</label>
                <input type="text" name="ImagenPerdido" required placeholder="Imagen perdido">
            </div>
            <div id="FechaPerdido">
                <label id="subtitulo">Tiempo Perdido:</label>
                <select name="FechaPerdido">
                    <option>Hace 1 día</option>
                    <option>Hace 2 día</option>
                    <option>Hace 1 semana</option>
                    <option>Hace 1-2 semana</option>
                    <option>Más de un mes</option>
                </select>
            </div>
            <div id="DescripcionPerdido">
                <label id="subtitulo">Descripcion perdido:</label>
                <input type="text" name="DescripcionPerdido" required placeholder="Descripción Perdido">
            </div>
            <div id="TelefonoPerdido">
                <label id="subtitulo">Teléfono perdido:</label>
                <input type="text" name="TelefonoPerdido" required placeholder="Teléfono Perdido">
            </div>
            <div id="boton">
                <button type="submit">SUBIR</button>
            </div>
        </form>
    </div>
    <br><br>

   


</body>

</html>