    <LINK REL="stylesheet" HREF="/css/mascotas/registro.css" TYPE="text/css" MEDIA=screen>
    <link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
  
<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav class="nav">

            <!--Aqui va el nombre-->
            <img class="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul class="menu">

                <!--Aqui va las opciones para la barra de busqueda
                <li><a href="http://localhost:4000/registro_carnet">Agregar carnet</a></li>
Es un ejemplo para llamar a lo que deseen
                -->
                <li><a href="#">Red social</a></li>
                <li><a href="#">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/campañas">Campañas</a></li>
                <li><a href="#">Reporte</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Donaciones</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->
    <div id="titulo">
        <p>Mascotas perdidas</p>
    </div>
    <div>
        <form action="/mascota/agregar/{{user.idUsuarios}}" method="post"id="contenedor">
    <div id="contenido">
        <div id="nombre">
            <label>Nombre de la mascota</label>
            <input type="text" name="nombre" required>
        </div>
        <div id="raza">
            <label>raza</label>
            <input type="text" name="raza" required>
        </div>
         <div id="edad">
            <label>Edad</label>
            <input type="number" name="edad" required>
        </div>
         <div id="Peso">
            <label>Peso</label>
            <input type="number" name="peso" required>
        </div>
         <div id="descripcion">
            <label>descripcion</label>
            <input type="text" name="descripcion" required>
        </div>
         <div id="foto">
            <label>foto</label>
            <input type="text" name="foto" required>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
    </div>
    <br><br>

    <!--Aqui empieza el foter-->
    <footer id="pie">
        <h4>Siguenos en nuestras redes </h4>
        <aside id="barra">
            <input type="text" placeholder="petPocket@yavirac.ec">
            <input type="button" value="subscribe">

        </aside>
        <table class="default" id="tabla">
            <tr>
                <th colspan="2"><a href="#">
                        <li class="nav-item">Tienda</li>
                    </a></th>
                <th colspan="2"><a href="#">
                        <li class="nav-item">Adopcion</li>
                    </a></th>
            </tr>
            <tr>
                <th colspan="2"><a href="#">
                        <li class="nav-item">Ajustes</li>
                    </a></th>
                <th colspan="2"><a href="#">
                        <li class="nav-item">Busqueda</li>
                    </a></th>
            </tr>
            <a href="http://twitter.com/AQUI_TU_USUARIO" target="_blank"><img
                    src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png"
                    width=32 height=32 alt="Síguenos en Twitter" /></a>
            <a rel="author" href="https://plus.google.com/TU_ID_GOOGLE?rel=author" target="_blank"><img
                    alt="Siguenos en Google+"
                    src="https://lh5.googleusercontent.com/-F_FBKktZWZk/T3nN0v4FeAI/AAAAAAAAAsc/7dHTxkxn4cI/s32/google32.png"
                    width=32 height=32 /></a>
            <a href="http://www.facebook.com/AQUI_TU_PAGINA" target="_blank"><img alt="Siguenos en Facebook"
                    src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png"
                    width=32 height=32 /></a>
        </table>

    </footer>


</body>

</html>





