<link rel="stylesheet" href="">
<form action="/formaPago/agregar/{{user.idUsuarios}}" method="post">
    <div id="contenido">
        <div id="titulo">Agregar Forma Pago</div>
        <div id="Nombre">
            <label>Nombre Forma Pago</label>
            <input type="text" name="nombreFormaPago" required>
        </div>
        <div id="Codigo">
            <label>Codigo Fomra Pago</label>
            <input type="text" name="codigoFormaPagos" required>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>