<link rel="stylesheet" href="">
<form action="/formaPago/lista/{{user.idUsuarios}}" method="get"></form>
<div id="contenido">
    <div class="raw">
        {{#each lista}}
        <div id="tarjeta">
            <div id="titulo">
                <p>{{nombreFormaPago}}</p>
            </div>
            <div id="codigo">
                <p>{{codigoFormaPagos}}</p>
            </div>
            <div id="editar">
                <div id="boton">
                    <a href="/formaPago/editar/{{idFormaPagos}}"><button type="button">Editar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>