*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenedor{
    background-color: #ffcb42;
    width: 400px;
    height: 540px;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    border: solid 3px #277bc0;
}
input{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 3px;
    width: 220px;
    color: #fff;
    margin-top: 1px;
    border-radius: 20px;
 }

#tituloTienda{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
#fotoTienda{
    font-size: 22px;
    text-align: center;
    padding: 10px;
}
#categoriaTienda{
    font-size: 22px;
    text-align: center;
    padding: 10px;
}
#descripccionTienda{
    font-size: 22px;
    text-align: center;
    padding: 10px;
}
button{
    background-color: #d1ca66;
    border: solid 1px rgb(31, 28, 28);
    padding: 2px;
    width: 130px;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
 }

#intro{
    text-align: center;
    background-color: rgba(255, 199, 14, 0.3);
    color: rgb(255, 0, 0);
    margin-top: 40px;
}

label{
    color: #fff;
    font-family: cursive;
    display: block;
    margin: 10px;
 }
 select{
    background-color: #277bc0;
    border: solid 1px rgb(31, 28, 28);
    padding: 5px;
    width: 220px;
    color: #fff;
    margin-top: 10px;
    border-radius: 20px;
 }




