body{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 10vh;
    font-size: 4rem;
    color: #277bc0;
}
#info{
    margin-top: 5vh;
    font-size: 1.5rem;
}

form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#preguntar{
    margin-left: 10vw;
    margin-right: 20vw;
    border: none;
    outline: none;
    
    border-bottom: solid 3px #fff4cf;
    font-size: 2rem;
}


#Detalles{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    border: none;
    outline: none;
    
    border-bottom: solid 3px #277bc0;
    font-size: 2rem;
}

#boton{
    margin-top: 4vh;
    background-color: #277bc0;
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #FFB200;
    margin-left: 25rem;
    margin-right: 25rem;
}

#boton:hover{
    background-color: #FFB200;
    color: #277bc0;
}